{% extends 'base.html.twig' %}

{% block title %}Edit Ordonnance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block body %}
    <h1>Edit Ordonnance</h1>

    {{ include('ordonnance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ordonnance_index') }}">back to list</a>

    {{ include('ordonnance/_delete_form.html.twig') }}
{% endblock %}
