{% extends 'base.html.twig' %}

{% block title %}Edit Ordonnance{% endblock %}

{% block body %}
    <h1>Edit Ordonnance</h1>

    {{ include('ordonnance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ordonnance_index') }}">back to list</a>

    {{ include('ordonnance/_delete_form.html.twig') }}
{% endblock %}
