<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard Piluleo{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body class="bg-gray-100 dark:bg-gray-900 min-h-screen flex flex-col">
    {% include 'components/header.html.twig' %}
    
    <main class="flex-grow w-full px-4 sm:px-6 lg:px-8 py-8">
        {% block body %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}
</body>
</html>