<footer class="bg-gray-200 dark:bg-black py-4 w-full">
    <div class="container mx-auto px-4 text-center text-gray-600 dark:text-gray-400">
        &copy; {{ "now"|date("Y") }} Piluleo. Tous droits réservés.
        <div class="mt-2">
            <a href="{{ path('app_contact') }}" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 transition duration-200">
                Contact
            </a>
            |
            <a href="{{ path('app_privacy') }}" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 transition duration-200">
                Politique de confidentialité
            </a>
            |
            <a href="{{ path('app_terms') }}" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 transition duration-200">
                Conditions d'utilisation
            </a>
        </div>
    </div>
</footer>