<header class="bg-orange-400 dark:bg-black text-white shadow-md sticky top-0 left-0 right-0 z-50">
    <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
        <a href="{{ path('app_dashboard') }}" class="flex items-center text-2xl font-bold">Piluleo</a>
        <label class="swap swap-rotate ml-4">
            <input type="checkbox" class="theme-controller" value="dark" />
            <svg class="swap-on fill-current w-8 h-8">...</svg> <!-- Add SVG for dark mode icon -->
            <svg class="swap-off fill-current w-8 h-8">...</svg> <!-- Add SVG for light mode icon -->
        </label>
    </div>
</header>